<div id="rodape" style="height: 50px; background-color: black; color: white;  width: 100%;margin: auto;
bottom: 0;
position: fixed; z-index:4;">
	<p style="text-align: center; font-size: 12px;" class="pt-2" >Desenvolvido por Augusto da Silva Araujo   |
	<a href="https://github.com/AugustAraujo" target="_blank()"><img src='http://localhost:8080/LeagueHelper/views/imgs/redes_sociais/github.png' class="links" style="width:16px; height:16px;"></a>
	<a href="https://www.linkedin.com/in/augusto-araujo-7b8694190/" target="_blank()"><img src='http://localhost:8080/LeagueHelper/views/imgs/redes_sociais/linkedin.png' class="links" style="width:16px; height:16px;"></a>
	</p>
</div>
