<style>
	#linkHeader:hover{
		color: red;
	}
</style>
	<div id="header" style="background-color:black; height:45px; font-size:15px; width:100%" class="mx-auto p-1">
	<div class="row mt-2" style="width:100%;">
		<div class="row ml-5 pl-5" style="width:20%;">
			<div class="col"><a href="" style="color:white;" id="linkHeader">Campeões</a></div>
			<div class="col"><a href="" style="color:white;"  class="linkHeader">Itens</a></div>
		</div>
		<div class="row mr-5 pr-5" style="right:0; position:fixed; width:15%;">
			<div class="col"><a href="controller/login.html" style="color:white;"  class="linkHeader">Login</a></div>
			<div class="col"><a href="" style="color:white;"  class="linkHeader">Contato</a></div>
		</div>
	</div>
</div>
